[DEFAULT]
verbose = True
auth_url = ##auth_uri##
auth_region = ##auth_region##
admin_tenant_name = ##admin_tenant_name##
admin_user = ##admin_user##
admin_password = ##admin_password##

nova_metadata_ip = ##controller_name##
metadata_proxy_shared_secret = ##metadata_proxy_shared_secret##
