[DEFAULT]
host = ##host##
debug = True
rpc_backend = rabbit
use_syslog = False
state_path = /var/run/hyperswitch
rootwrap_config = /etc/hyperswitch/rootwrap.conf
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
rabbit_hosts = ##rabbit_hosts##

[hyperswitch]
network_mngt_interface = ##network_mngt_interface##
network_data_interface = ##network_data_interface##
network_vms_interface = ##network_vms_interface##
