[DEFAULT]
host = ##host##
debug = True
rpc_backend = rabbit
use_syslog = False
state_path = /var/run/hyperswitch
rootwrap_config = /etc/hyperswitch/rootwrap.conf

[oslo_messaging_rabbit]
rabbit_userid = ##rabbit_userid##
rabbit_password = ##rabbit_password##
rabbit_hosts = ##rabbit_hosts##
rabbit_use_ssl = True

[hyperswitch]
network_fip_interface = ##network_fip_interface##
network_mngt_interface = ##network_mngt_interface##
network_data_interface = ##network_data_interface##
network_vms_interface = ##network_vms_interface##
first_openvpn_port = ##first_openvpn_port##
max_win_nics = ##max_win_nics##
external_network_bridge = ##external_network_bridge##
peer_physical_port = ##peer_physical_port##